<template>
    <div class="copyright row">
      <div class="col-sm-12 col-md-6 col-md-offset-1">
        <a href="http://www.wtfpl.net/">
          <img src="/static/img/wtfpl-badge-2.png"
            width="80" height="15" alt="WTFPL" /></a>
      </div>
    </div>
</template>

<style lang="sass" scoped>
$raleway: 'Raleway', Helvetica, Arial, sans-serif
.copyright
  //position: absolute
  //left: 0
  //bottom: 0
  //padding: 15px
  margin: 0

  font-family: $raleway
  font-size: 15px

  @media (min-width: 992px)
    text-align: left

</style>
