<template>
    <div class="characters">
      <loader></loader>
      <div class="page-title-container">
          <h1>Personnages</h1>
      </div>
      <div class="row scroll">
        <scroll-progress-bar></scroll-progress-bar>
        <div class="col-md-5 col-md-offset-1">
              <back-btn></back-btn>
              <div class="page-subtitle-container">
                  <span class="dash"></span>
                  <h2>Les personnages de<br> l'Anthologie Palatine</h2>
              </div>
          </div>
          <div class="col-md-6 pull-right">
              <div class="vertical-list-container">
                <div
                  v-for="character in dataCharacters.keywords"
                  class="vertical-list-wrapper">
                  <h3><span class="bg"></span>{{ character.keywords_translations[0].title }} <sup>{{ character.keywords_translations[0].id | romanize }}</sup></h3>
                  <ul>
                    <li
                      v-for="epigram in character.entities"
                    >
                      <router-link :to="{ path: 'epigram', params: { id: epigram.id }}">{{ epigram.title }}</router-link>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import BackBtn from './partials/BackBtn'
import ScrollProgressBar from './partials/ProgressBar'
import Loader from './partials/Loader'

import $ from 'jquery'

export default {
  components: {
    BackBtn,
    ScrollProgressBar,
    Loader
  },
  name: 'characters',
  data () {
    return {
      token: '',
      dataCharacters: {}
    }
  },
  created: function () {
    this.getCharactersData()
  },
  methods: {
    getCharactersData: function () {
      var self = this
//      this.$http.get(global.apiAuth).then(function (response) {
//        self.$set('token', response.data.access_token)
      self.$http.get(global.api + 'keyword/family/1'/* + filterFr + 'access_token=' + self.token*/, {progress () {
        $('.loader').fadeIn()
      }}).then(function (response) {
        $('.loader').fadeOut()
        self.$set('dataCharacters', response.data)
      }, function (response) {
        console.log('error: ' + response)
      })
//      }, function (response) {
//        console.log('global error: ' + response.status)
//      })
    }
  }
}
</script>

<style lang="sass" scoped>
$hover: .5s all linear
$raleway: 'Raleway', Helvetica, Arial, sans-serif

.characters
  width: 100%
  height: 100%

.row
  height: 100%

  >div:first-child
    position: initial

  >div
    height: 100%
    display: flex

    .page-subtitle-container
      align-self: flex-end
</style>
